<div class="container-fluid">
  <div class="row">
    <div class="col-12 my-3 ps-4">
      <h2 class="my-3 ps-4">Shopping Cart</h2>
      <ng-container *ngIf="!products.length; else cart">
        <h5>Cart empty! Go find something to buy.</h5>
      </ng-container>
      <ng-template #cart>
        <div class="row my-2">
          <div class="col-md-8 offset-md-2">
            <h5 class="text-end me-5">Total: ${{totalAmount}}</h5>
            <ng-container *ngFor="let product of products">
              <app-cart-item [product]="product" [parentFunction]="removeItem.bind(this, product.id)"></app-cart-item>
          </ng-container>
        </div>
      </div>
      <div class="row my-5">
        <div class="d-grid gap-2">
          <button class="btn btn-success" type="button" (click)="checkout()">Checkout</button>
        </div>
      </div>
    </ng-template>
    </div>
  </div>
</div>
