<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <h4 class="pt-5">Shipping Address</h4>
        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" class="form-control" required minlength="3" maxlength="20" [(ngModel)]="formModel.firstName">
          <ng-container *ngIf="form.controls['firstName']?.invalid && (form.controls['firstName'].dirty || form.controls['firstName'].touched)">
            <div class="alert alert-danger">
              <ng-container *ngIf="form.controls['firstName'].errors?.['required']">
                <div>First Name is required.</div>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" class="form-control" required minlength="3" maxlength="20" [(ngModel)]="formModel.lastName">
          <ng-container *ngIf="form.controls['lastName']?.invalid && (form.controls['lastName'].dirty || form.controls['lastName'].touched)">
            <div class="alert alert-danger">
              <ng-container *ngIf="form.controls['lastName'].errors?.['required']">
                <div>Last Name is required.</div>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <div class="form-group">
          <label for="address">Address:</label>
          <input type="text" id="address" name="address" class="form-control" required minlength="5" [(ngModel)]="formModel.address">
          <ng-container *ngIf="form.controls['address']?.invalid && (form.controls['address'].dirty || form.controls['address'].touched)">
            <div class="alert alert-danger">
              <ng-container *ngIf="form.controls['address'].errors?.['required']">
                <div>Address is required.</div>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="city">City:</label>
              <input type="text" id="city" name="city" class="form-control" required minlength="3" [(ngModel)]="formModel.city">
              <ng-container *ngIf="form.controls['city']?.invalid && (form.controls['city'].dirty || form.controls['city'].touched)">
                <div class="alert alert-danger">
                  <ng-container *ngIf="form.controls['city'].errors?.['required']">
                    <div>City is required.</div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="state">State <span class="text-muted">(TX, OH, CA, FL...)</span>:</label>
              <input type="text" id="state" name="state" class="form-control" pattern="^[A-Z]{2}$" minlength="2" maxlength="2" required [(ngModel)]="formModel.state">
              <ng-container *ngIf="form.controls['state']?.invalid && (form.controls['state'].dirty || form.controls['state'].touched)">
                <div class="alert alert-danger">
                  <ng-container *ngIf="form.controls['state'].errors?.['required']">
                    <div>State is required.</div>
                  </ng-container>
                  <ng-container *ngIf="form.controls['state'].errors?.['pattern']">
                    <div>State must be two uppercase letters.</div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="zip">Zip Code:</label>
              <input type="text" id="zip" name="zip" class="form-control" required pattern="[0-9]*" minlength="5" maxlength="5" [(ngModel)]="formModel.zip">
              <ng-container *ngIf="form.controls['zip']?.invalid && (form.controls['zip'].dirty || form.controls['zip'].touched)">
                <div class="alert alert-danger">
                  <ng-container *ngIf="form.controls['zip'].errors?.['required']">
                    <div>Zip Code is required.</div>
                  </ng-container>
                  <ng-container *ngIf="form.controls['zip'].errors?.['pattern']">
                    <div>Zip Code must be a 5 digit number.</div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="form-check pt-3">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (click)="toggleBillingAddress()">
          <label class="form-check-label" for="flexCheckChecked">Billing Address same as Shipping Address?</label>
        </div>
        <ng-container *ngIf="!billingAddress">
          <h4 class="pt-2">Billing Address</h4>
          <div class="form-group">
            <label for="firstNameB">First Name:</label>
            <input type="text" id="firstNameB" name="firstNameB" class="form-control" minlength="3" maxlength="20" [required]="!billingAddress" [(ngModel)]="formModel.firstNameB">
            <ng-container *ngIf="form.controls['firstNameB']?.invalid && (form.controls['firstName'].dirty || form.controls['firstNameB'].touched)">
              <div class="alert alert-danger">
                <ng-container *ngIf="!billingAddress && form.controls['firstNameB'].errors?.['required']">
                  <div>First Name is required.</div>
                </ng-container>
              </div>
            </ng-container>
          </div>

          <div class="form-group">
            <label for="lastNameB">Last Name:</label>
            <input type="text" id="lastNameB" name="lastNameB" class="form-control" minlength="3" maxlength="20" [required]="!billingAddress" [(ngModel)]="formModel.lastNameB">
            <ng-container *ngIf="form.controls['lastNameB']?.invalid && (form.controls['lastNameB'].dirty || form.controls['lastNameB'].touched)">
              <div class="alert alert-danger">
                <ng-container *ngIf="!billingAddress && form.controls['lastNameB'].errors?.['required']">
                  <div>Last Name is required.</div>
                </ng-container>
              </div>
            </ng-container>
          </div>

          <div class="form-group">
            <label for="addressB">Address:</label>
            <input type="text" id="addressB" name="addressB" class="form-control" minlength="5" [required]="!billingAddress" [(ngModel)]="formModel.addressB">
            <ng-container *ngIf="form.controls['addressB']?.invalid && (form.controls['addressB'].dirty || form.controls['addressB'].touched)">
              <div class="alert alert-danger">
                <ng-container *ngIf="!billingAddress && form.controls['addressB'].errors?.['required']">
                  <div>Address is required.</div>
                </ng-container>
                </div>
            </ng-container>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="cityB">City:</label>
                <input type="text" id="cityB" name="cityB" class="form-control" minlength="3" [required]="!billingAddress" [(ngModel)]="formModel.cityB">
                <ng-container *ngIf="form.controls['cityB']?.invalid && (form.controls['cityB'].dirty || form.controls['cityB'].touched)">
                  <div class="alert alert-danger">
                    <ng-container *ngIf="!billingAddress && form.controls['cityB'].errors?.['required']">
                      <div>City is required.</div>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label for="stateB">State <span class="text-muted">(TX, OH, CA, FL...)</span>:</label>
                <input type="text" id="stateB" name="stateB" class="form-control" pattern="^[A-Z]{2}$" minlength="2" maxlength="2" [required]="!billingAddress" [(ngModel)]="formModel.stateB">
                <ng-container *ngIf="form.controls['stateB']?.invalid && (form.controls['stateB'].dirty || form.controls['stateB'].touched)">
                  <div class="alert alert-danger">
                    <ng-container *ngIf="!billingAddress && form.controls['stateB'].errors?.['required']">
                      <div>State is required.</div>
                    </ng-container>
                    <ng-container *ngIf="!billingAddress && form.controls['stateB'].errors?.['pattern']">
                      <div>State must be two uppercase letters.</div>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label for="zipB">Zip Code:</label>
                <input type="text" id="zipB" name="zipB" class="form-control" pattern="[0-9]*" minlength="5" maxlength="5" [required]="!billingAddress" [(ngModel)]="formModel.zipB">
                <ng-container *ngIf="form.controls['zipB']?.invalid && (form.controls['zipB'].dirty || form.controls['zipB'].touched)"r>
                  <div class="alert alert-danger">
                    <ng-container *ngIf="!billingAddress && form.controls['zipB'].errors?.['required']">
                      <div>Zip Code is required.</div>
                    </ng-container>
                    <ng-container *ngIf="!billingAddress && form.controls['zipB'].errors?.['pattern']">
                      <div>Zip Code must be a 5 digit number.</div>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>

        <h4 class="pt-3">Credit Card Info</h4>

        <div class="form-group">
          <label for="ccName">Name on Card:</label>
          <input type="text" id="ccName" name="ccName" class="form-control" minlength="5" required [(ngModel)]="formModel.ccName">
          <ng-container *ngIf="form.controls['ccName']?.invalid && (form.controls['ccName'].dirty || form.controls['ccName'].touched)">
            <div class="alert alert-danger">
              <ng-container *ngIf="form.controls['ccName'].errors?.['required']">
                <div>Name is required.</div>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <div class="row">

          <div class="col-6">
            <div class="form-group">
              <label for="ccNumber">Card Number:</label>
              <input type="text" id="ccNumber" name="ccNumber" class="form-control" pattern="[0-9]*" minlength="12" maxlength="16" required [(ngModel)]="formModel.ccNumber">
              <ng-container *ngIf="form.controls['ccNumber']?.invalid && (form.controls['ccNumber'].dirty || form.controls['ccNumber'].touched)">
                <div class="alert alert-danger">
                  <ng-container *ngIf="form.controls['ccNumber'].errors?.['required']">
                    <div>Card Number is required.</div>
                  </ng-container>
                  <ng-container *ngIf="form.controls['ccNumber'].errors?.['pattern']">
                    <div>Credit Card number must be a 12-16 digit number.</div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label for="expDate">Exp Date <span class="text-muted">(MM/DDDD)</span>:</label>
              <input type="text" id="expDate" name="expDate" class="form-control" required pattern="^(0[1-9]|1[0-2])\/\d{4}$" minlength="7" maxlength="7" [(ngModel)]="formModel.expDate">
              <ng-container *ngIf="form.controls['expDate']?.invalid && (form.controls['expDate'].dirty || form.controls['expDate'].touched)">
                <div class="alert alert-danger">
                  <ng-container *ngIf="form.controls['expDate'].errors?.['required']">
                    <div>Exp Date is required.</div>
                  </ng-container>
                  <ng-container *ngIf="form.controls['expDate'].errors?.['pattern']">
                    <div>Exp Date must be in format MM/DDDD</div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label for="cvv">CVV Code:</label>
              <input type="text" id="cvv" name="cvv" class="form-control" pattern="[0-9]*" minlength="3" maxlength="3" required [(ngModel)]="formModel.cvv">
              <ng-container *ngIf="form.controls['cvv']?.invalid && (form.controls['cvv'].dirty || form.controls['cvv'].touched)">
                <div class="alert alert-danger">
                  <ng-container *ngIf="form.controls['cvv'].errors?.['required']">
                    <div>CVV Code is required.</div>
                  </ng-container>
                  <ng-container *ngIf="form.controls['cvv'].errors?.['pattern']">
                    <div>CVV must be a 3 digit number.</div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>

        </div>

        <button type="submit" class="btn btn-primary mt-4" [disabled]="form?.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>
