<ul class="list-group">
  <li class="list-group-item mb-2 d-flex justify-content-between align-items-center" style="max-height: 150px; overflow: hidden;">
    <div class="d-flex">
      <div style="width: 200px; flex-shrink: 0; overflow: hidden;">
        <img [src]="product.image" class="thumbnail" style="max-width: 200px; object-fit: cover;" alt="Product Thumbnail">
      </div>
    </div>
      <div class="d-flex flex-column flex-grow-1 ps-3">
        <p class="text-truncate text-wrap mb-2" style="font-weight: bold; color: #333">{{ product.title }}</p>
        <div class="d-flex align-items-center mb-2">
          <label for="quantityInput" class="me-2" style="color: #555">Amount:</label>
          <input id="quantityInput" type="number" [(ngModel)]="product.quantity" (ngModelChange)="updateQuantity()" class="form-control" style="width: 70px;">
        </div>
        <p class="mb-0" style="color: #777">Price: <span style="color: #f00; font-weight: bold">${{ (product.price * product.quantity).toFixed(2) }}</span></p>
      </div>
    <button class="btn btn-danger" (click)="callParentFunction(product.id)"><i class="bi bi-x-lg"></i></button>
  </li>
</ul>
